/* Header Font */
/* Accent Font */
/* Body Font */

* {
  box-sizing: border-box;
}

html {
  background: rgba(247, 247, 247, 1);
}

body {
  font-size: 62.5%;
}

a:link, a:visited {
  color: rgba(100, 100, 100, 1); 
  text-decoration: none;
}

a:active, a:hover {
  color: rgba(100, 100, 100, 0.8); 
}

.App {
  position: relative;
  height: 100%;
  min-height: 100vh;
  text-align: center;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;
  padding: 10px;
}

header .logo {
  font-size: 2.4rem;
  font-weight: 600;
}

header nav {
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  list-style: none;
}

header nav li {
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

main {
  padding: 0 0 5rem 0;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 5% 0;
  background: url('./img/bg-002.jpg') no-repeat fixed center;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px black;
}

.about-links a:link, .about-links a:visited {
  color: rgba(247, 247, 247, 1);
}

.about-links a:active, .about-links a:hover {
  /* text-shadow: 1px 1px white; */
  color: rgba(180, 180, 180, 1);
}

.about img {
  /* border: 5px solid rgba(100, 100, 100, 1); */
  width: 25%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
}

.about .content {
  /* justify-self: flex-start; */
  /* margin: 0 0 0 40px; */
  margin: 0 auto;
  font-size: 1.4rem;
  /* text-align: left; */
}

.about #ig {
  width: 50px;
  height: auto;
}

.cv {
  padding: 5% 0;
  display: grid;
  grid-template-columns: 40% 60%; 
  grid-template-rows: auto;
  justify-items: center;
  align-items: flex-start;
  font-size: 1rem;
}

.cv .left {
  justify-self: right;
  margin-right: 10px;
  text-align: right;
  font-weight: 500;
}

.cv .right {
  justify-self: left;
  margin-left: 10px;
  text-align: left;
}

.drawings {
  padding: 5% 0 0;
}

.drawings-gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 40% repeat(auto-fill, 40%);
  /* grid-gap: 5px; */
}

.drawings .drawings-gallery .drawing {
  position: relative;
  z-index: 100;
}

.drawings img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* overflow: hidden; */
}

.drawings .drawings-gallery .drawing .overlay {
  position: absolute;
  top: 0;
  /* z-index: -10; */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 2%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.home {
  background: url('./img/bg-001.jpg') no-repeat fixed center;
  padding: 5% 0;
}

.home img {
  width: 90%;
  height: auto;
}

.paintings {
  padding: 5% 0;
  margin: 0 auto;
}

.paintings-gallery {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: auto repeat(auto-fill, auto);
  align-content: center;
  justify-items: center;
  /* grid-gap: 5px; */
}

.paintings .paintings-gallery .painting {
  position: relative;
  z-index: 100;
  /* opacity: 0; */
}

.paintings img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paintings .paintings-gallery .painting .overlay {
  position: absolute;
  top: 0;
  /* z-index: -10; */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  overflow: hidden;
}


/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.modal-main {
  position:fixed;
  /* background: white; */
  border-radius: 10px;
  width: 98%;
  height: 98%;
  top: 1%;
  left: 1%;
  /* transform: translate(-50%,-50%); */
  z-index: 100;
}

.modal .modal-info-btn {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
}

.modal .modal-info {
  position: fixed;
  top: 1%;
  left: 1%;
  max-width: 30%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: left;
  /* border-radius: 5px; */
}

.modal .modal-info h1 {
  font-size: 1.4rem;
}

.modal .modal-info p {
  font-size: 1.2rem;
}
.modal-main img {
  /* position:fixed; */
  /* top: auto; */
  /* left: 40vh; */
  width: auto;
  height: 98%;
  margin: 0 auto;
}

.modal-btn {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 5px;
}

.modal-btn-close {
  top: 1%;
  right: 1%;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
}

.modal-btn-left {
  top: 50vh;
  left: 1%;
  width: 50px;
  height: 50px;
  font-size: 1.6rem;
}

.modal-btn-right {
  top: 50vh;
  right: 1%;
  font-size: 1.6rem;
  height: 50px;
  width: 50px;
}

.modal-btn:hover {
  background: white;
  color: black;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background: white;
  font-size: 1.2rem;
  font-weight: 600;
}

footer img {
  margin: 5px;
  width: 1.8rem;
  height: auto;
}

footer img:hover {
  opacity: 0.8;
}

.modal-btn, 
.drawings-gallery .drawing:hover,
.paintings-gallery .painting:hover,
.modal .modal-info {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  /* body {
    background-color: blue;
  } */

}

@media only screen and (max-width: 992px) {
  /* body {
    background-color: orange;
  } */
}


@media only screen and (max-width: 925px) {
  
  /* body {
    background-color: yellow;
  } */
  .modal-main img {
    display: block;
    height: auto;
    max-width: 95%;
    max-height: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 575px) {
  header {
    flex-flow: column nowrap;
  }
  
  header .logo {
    margin: 0 auto;
  }
  
  header nav {
    margin: 0 auto;
  }
  
  .paintings-gallery {
    grid-template-columns: 50% 50%;
  }
  
  .paintings .paintings-gallery .painting .overlay {
    font-size: 1.2rem;
  }

  .drawings-gallery {
    grid-template-columns: 50% 50%;
    /* grid-gap: 5px; */
  }
  
  .drawings .drawings-gallery .drawing .overlay {
    font-size: 1.2rem;
  }

  .cv {
    padding: 5% 0;
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 0.9rem; 
  }

  .about img {
    /* border: 5px solid rgba(100, 100, 100, 1); */
    width: 40%;
  }
  
  .about .content {
    /* justify-self: flex-start; */
    /* margin: 0 0 0 40px; */
    margin: 0 auto;
    font-size: 1.2rem;
    /* text-align: left; */
  }
  
  .modal .modal-main {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .modal .modal-info {
    max-width: 80%;
  }
  
  .modal .modal-info h1 {
    font-size: 1.2rem;
  }
  
  .modal .modal-info p {
    font-size: 1rem;
  }

  .modal-main img {
    /* object-fit: cover; */
    max-width: 99%;
    max-height: 99%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  .paintings-gallery {
    grid-template-columns: 100%;
  }

  .drawings-gallery {
    grid-template-columns: 100%;
  }
}

/*** Div Animations ***/
/*
Div Anims From:
https://codepen.io/jmelgoza/pen/jEaGYg?editors=0110
*/
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.75s;
  -moz-animation-duration:0.75s;
  animation-duration:0.75s;
}

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in.two {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.fade-in.three {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fade-in.four {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  animation-delay: 1.25s;
}