/* Header Font */
/* Accent Font */
/* Body Font */

* {
  box-sizing: border-box;
}

html {
  background: rgba(247, 247, 247, 1);
}

body {
  font-size: 62.5%;
}

.App {
  text-align: center;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

header .logo {
  align-self: baseline;
  font-size: 2.4rem;
  font-weight: 600;
}

header nav {
  
}

header nav ul {
  align-self: baseline;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
}

header nav li {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px;
}

main {
  margin: 100px auto 0;
}

.about {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.about img {
  /* border: 5px solid rgba(100, 100, 100, 1); */
  border-radius: 50%;
}

.about .content {
  font-size: 1.4rem;
  /* justify-self: flex-start; */
  margin: 0 0 0 40px;
  text-align: left;
}

.about #ig {
  width: 50px;
  height: auto;
}

.cv {}

.drawings {}

.paintings {}

a:link, a:visited {
  color: rgba(100, 100, 100, 1); 
  text-decoration: none;
}

a:active, a:hover {
  color: rgba(100, 100, 100, 0.8); 
}