/* Header Font */
/* Accent Font */
/* Body Font */

* {
  box-sizing: border-box;
}

html {
  background: rgba(247, 247, 247, 1);
}

body {
  font-size: 62.5%;
}

a:link, a:visited {
  color: rgba(100, 100, 100, 1); 
  text-decoration: none;
}

a:active, a:hover {
  color: rgba(100, 100, 100, 0.8); 
}

.App {
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
}

header {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;
}

header .logo {
  font-size: 2.4rem;
  font-weight: 600;
}

header nav {
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
}

header nav li {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px;
}

main {
  padding: 0;
  padding-bottom: 5rem;
}

.about {
  padding: 5% 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background: url('./img/bg-002.jpg') no-repeat fixed center;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px black;
}

.about-links a:link, .about-links a:visited {
  color: rgba(247, 247, 247, 1);
}

.about-links a:active, .about-links a:hover {
  /* text-shadow: 1px 1px white; */
  color: rgba(180, 180, 180, 1);
}

.about img {
  /* border: 5px solid rgba(100, 100, 100, 1); */
  border-radius: 50%;
  width: 25%;
  height: auto;
  margin: 0 auto;
}

.about .content {
  font-size: 1.4rem;
  /* justify-self: flex-start; */
  /* margin: 0 0 0 40px; */
  margin: 0 auto;
  /* text-align: left; */
}

.about #ig {
  width: 50px;
  height: auto;
}

.cv {
  padding: 5% 0;
  display: grid;
  font-size: 1rem;
  grid-template-columns: 40% 60%; 
  grid-template-rows: auto;
  justify-items: center;
  align-items: flex-start;
}

.cv .left {
  font-weight: 500;
  justify-self: right;
  margin-right: 10px;
  text-align: right;
}

.cv .right {
  justify-self: left;
  margin-left: 10px;
  text-align: left;
}

.drawings {
  padding: 5% 0;
}

.drawings-gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* grid-gap: 5px; */
}

.drawings .drawings-gallery .drawing {
  position: relative;
  z-index: 100;
}

.drawings img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.drawings .drawings-gallery .drawing .overlay {
  text-transform: uppercase;
  padding: 2%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  color: white;
  font-size: 1.4rem;
  /* z-index: -10; */
}

.home {
  background: url('./img/bg-001.jpg') no-repeat fixed center;
  padding: 5% 0;
}

.home img {
  width: 90%;
  height: auto;
}

.paintings {
  padding: 5% 0;
}

.paintings-gallery {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* grid-gap: 5px; */
}

.paintings .paintings-gallery .painting {
  position: relative;
  z-index: 100;
}

.paintings img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.paintings .paintings-gallery .painting .overlay {
  text-transform: uppercase;
  padding: 2%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  color: white;
  font-size: 1.4rem;
  /* z-index: -10; */
}


/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.modal-main {
  position:fixed;
  /* background: white; */
  border-radius: 10px;
  width: 98%;
  height: 98%;
  top: 1%;
  left: 1%;
  /* transform: translate(-50%,-50%); */
  z-index: 100;
}

.modal-main img {
  margin: 0 auto;
  /* position:fixed; */
  /* top: auto; */
  /* left: 40vh; */
  width: auto;
  height: 98%;
}

.modal-btn {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  position: fixed;
}

.modal-btn-close {
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  top: 1%;
  right: 1%;
}

.modal-btn-left {
  width: 50px;
  height: 50px;
  font-size: 1.6rem;
  left: 1%;
  top: 50vh;
}

.modal-btn-right {
  font-size: 1.6rem;
  width: 50px;
  height: 50px;
  right: 1%;
  top: 50vh;
}

.modal-btn:hover {
  background: white;
  color: black;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

footer {
  background: white;
  padding: 1rem;
  bottom: 0;
  display: flex;
  position: absolute;
  height: 5rem;
  font-size: 1.2rem;
  font-weight: 600;
  flex-flow: row nowrap;
  /* height: 25px; */
  /* text-align: right; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer img {
  /* margin: 1%; */
  width: 1.8rem;
  height: auto;
}

.modal-btn, .paintings-gallery .painting:hover {
  cursor: pointer;
}

/* nav, .cv + a:link, a:visited {
  color: rgba(100, 100, 100, 1); 
  text-decoration: none;
}

nav, .cv + a:active, a:hover {
  color: rgba(100, 100, 100, 0.8); 
} */